@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestThin1602-hint.woff') format('woff');
  font-weight: 100;
  font-style: normal
}
@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestLight1602-hint.woff') format('woff');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestRegular1602-hint.woff') format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestMedium1602-hint.woff') format('woff');
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestBold1602-hint.woff') format('woff');
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestExtraBold1602-hint.woff') format('woff');
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: 'Onest';
  src: url('/fonts/protonGroup/Onest/WOFF/OnestBlack1602-hint.woff') format('woff');
  font-weight: 900;
  font-style: normal
}
